Screenshot 2024-05-10 at 9.11.03 pm.png
Screenshot 2024-05-10 at 5.19.00 pm.png
Screenshot 2024-05-10 at 5.08.04 pm.png
network_structure
reapply.sh
image.png
chat
auto_destroy.sh
auto_apply.sh
.DS_Store
to-do-list
